<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.jgroups" level="WARN"/>
    <logger name="org.jgroups.protocols.TCP" level="INFO"/>
    <logger name="org.jgroups.protocols.pbcast.GMS" level="INFO"/>
    <logger name="org.jgroups.protocols.FD_SOCK" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
